*{
    padding: 0px;
    margin: 0px;
    
}


.row {
    padding: 0px;
    margin: 0px;
}

.body{

    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
}
  


/* ........... navbar section start ............. */
#navbarbackground{
 width: 100%;
 clear: both;
 min-height: 650px;
 max-height: 650px;
 background-image: url(background_img/atiq.png);
 
/* background-color: black;
*/
background-repeat: no-repeat;
background-size: cover;
background-position: center;


}



.navbar{
/*  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%) !important;
*/    background-color: #940916  !important;
}

 li a{ 
    color:white !important;
    display:block;
    padding:20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px !important;
}

 li a.active,
 li a:hover{    
    color: #00ffe7 !important;
    background-color: #07515a;
}

.header_second_part{
       position: absolute;
       margin-top: 270px !important;
   }

.subheading{
    font-size: 13px;
   font-weight: 700;
   display: block;
   margin-bottom: 5px;
   text-transform: uppercase;
   color: #b1b493;
   letter-spacing: 3px;
}

.header_second_part_text h1{
    line-height: 1.2;
    font-weight: 800;
    color:white;
}

.header_second_part_text span{
    line-height: 1.2;
    font-weight: 800;
   color: #b1b493;
}
/* ........... navbar section End  ............. */
/* ############################################ */

/* ........... About Me section start  ............. */
#about_me{
  width: 100%;
  clear: both;
}

.img_div{
  padding-top:55px;
  background-color: #dedddd;
  perspective: 650px;

}

.img_div img{
  width: 100%;
  height: 400px;
    transform: rotateY(45deg);


}

.about_title{
    color: #6b5e5e;
    font-size: 25px;
    font-weight: 300;
    font-family: cursive;

}

.heading-section h2{
    color: #0da566;
    font-weight: 600;
    font-family: none;
    margin: 10px 0px;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 4px #000000;
    
}

.heading-section p{
    color: #5a6f79;
    text-align: justify;
   
}

.a-l-n{
    color: #ad9d9d;
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;

}

.a-f-n{
   color: #000000;
    font-family: serif;
    font-weight: 600;
    font-size: 19px;
   
}

ul.about-info li span {
    width: calc(20% + 50px);

}



.my-habit i{
  color: #29a6ff;
  font-size: 32px;
}

.my-habit h2{
    color: #000000;
    font-size: 18px;
    font-family: system-ui;
    font-weight: 800;
}



 /* second part */
 .sidebar span{
    font-size: 13px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    text-transform: lowercase;
    color: #b1b493;
    letter-spacing: 3px;

   }

   .sidebar h2{
    color: #308ab5;
    font-family: 'Font Awesome 5 Brands';
    font-size: 25px;
    text-transform: capitalize;
    padding: 5px 0px;
   }

   .sidebar h2:hover{
    color: #19b1f8;
    font-size: 28px;

   
   }

    .contact_link{
       text-align: center;
   }
   .contact_link ul{
       list-style: none;

   }
   .contact_link ul li{
    display: inline-block;
    font-size: 25px;
    padding: 5px 10px;
    color:blueviolet;
    transition: all ease 0.3s;

   }

   .contact_link ul li:hover{

    background-color: black;
    padding: 5px 10px;
    border-radius: 50%;
    transform:rotate(360deg);
    color: white;

   }





/* ........... About Me section End  ............. */
/* ############################################ */

/* ........... Resent Project section Start  ..... */
/* ############################################ */

#resent_project{
  width: 100%;
  color: both;

}




.headaing-underline h1{
   color: #0da566;
   text-shadow: 2px 2px 4px #000000;
}

.after_before_card img{
  width:100%;
  height: 220px;
}

.after_before_card .card-body p{
  color:white;

}
.after_before_card{
  width: 100%;
  color: both;
  position: relative;
}

.after_before_card::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #e21f36;
  transition: 0.7s;
  opacity: 0.4;

}

.after_before_card::before{
   content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: #e21f36;
  transition: 0.7s;
    opacity: 0.4;

  
}

.after_before_card:hover:after{
   width: 0px;
   transition: 0.5s;
   
}

.after_before_card:hover:before{
   width: 0px;
   transition: 0.5s;
  

}


/* ........... Resent Project section End  ..... */
/* ############################################ */


/* ####################################################### */
/* .........../ skills section start  ............. */

.skils{
 
    background-color: #d0c1c1;
    clear: both;

}

/*  some copy code start   */
svg.radial-progress circle {
     stroke-width: 8px;

     }

     svg.radial-progress text {
        stroke:#3c4761;
        font-size: .9rem;
       
        }

svg.Web-Design circle{
    stroke:#30bae7;
}
svg.HTML-CSS circle{
    stroke:#d74680;
}

svg.GRAPHIC-DESIGN circle{
    stroke:#15c7a8;
}

svg.UI-UX circle{
    stroke:#eb7d4b;
}
/* copy code end   */
.box h5{
    margin: 4rem 0rem 2rem 0 !important;
  
    color: black;
}
.box h5:hover{
   
    color: rgb(57, 187, 17);
}


.headaing-underline h1{
    padding-top: 8rem !important;
    padding-bottom:2rem !important ;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size:2.5rem ;
    font-weight:600 ;
   
}
.headaing-underline h1::after{
    content: "";
    display: block;
    width: 8rem;
    height: 0.1rem;
    background-color:black;
    margin: auto;
    margin-top: 2rem;
}

/*skill progess bar*/ 

.barfiller {
  width: 100%;
  height: 12px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}

.barfiller .tipWrap { display: none; }

.barfiller .tip {
  margin-top: -30px;
  padding: 2px 4px;
  font-size: 11px;
  color: #fff;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #333;
}

.barfiller .tip:after {
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}


/* .........../ skills section end   ............. */
/* ####################################################### */

/* ...........protfullio section start ............. */

#protfullio{
    background-image: linear-gradient(to bottom right, #233329, #63D471);
   
   /*background-color: #28313B; */
   clear: both;
    overflow: hidden;

}

.header_portfolio h1{
    color: #fff;
    font-weight: 600;
    font-family: none;
    margin: 20px 0px;
    letter-spacing: 0.1rem;

}



.header_portfolio p{
   color: black;
   text-align: center;
}


.protfulio-navbar{
     flex: auto;
    text-align: center;
  
}

.protfulio-navbar ul{
  list-style: none;
  
 }


.protfulio-navbar ul li{
  display: inline-block; 

  
}

.protfulio-navbar button{ 
    background-color: #ebc985;
    font-size: 18px;
    padding: 0.3rem 0.8rem;
    text-transform: uppercase;
    border: 0;
    border-radius:0.3rem;
}

#mixtuo_parent img{
    width: 70%;
    height: 50%;
}

.protfulio-navbar button:hover{ 
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: inset 0 .3rem .3rem #a26218;
    transition: .5s;
}


/* .........../ protfullio section End  ............. */
/* ####################################################### */

/* ........... card section start .................*/

#my-card{
    background-color:#e6e6e6;
    width: 100%;
    clear: both;
}

.card_header_part h1{
  margin-top: 20px; 
  color: #005aff;
    font-size: 42px;
    font-weight: 700;
    font-family: math;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.card_header_part p{
  color: #615858;
  text-align: center;
}

.card{
    clear: both;
    background-color: black;
    border-radius: none;
    border:none !important;
  
}
   

.card:hover{
 box-shadow: 0 0 5px rgba(0,0,0,0.8) inset, 0 0 10px rgba(0,0,0,0.8);
  
background-color: black;

 }


.card-title{
    color: #28a9e2;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.card-contant ul{
    list-style: none;
/    
}

.card-contant ul li{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
 /* margin-left: 25px; */
}

.card_btn{
   text-align: center;
  
}


.card_btn a{
    text-decoration: none;
    font-size: 14px;
 }
 

.section-title .p{
    color: red;

}

/* ........... card section End .................*/
/* ################################################# */

/* ...........our-tem section start ............ */
.our-tem{
  background-color: #000000;
  clear: both;
 
}

.our_tem_header h1{
  margin-top: 50px; 
  color: #005aff;
    font-size: 37px;
    font-weight: 700;
    font-family: math;
    letter-spacing: 0.3rem;
}
.our_tem_header p{
  color: #ffff;
  text-align: center;
  padding-bottom: 35px;
}

.atikur img{
    width: 240px;
    height: 240px;
    /*border-radius: 50% 50% 0 50%*/;
    border-radius: 50%;
    border-bottom: 5px solid ;
    transition:0.7s;
    
     
}

.atikur img:hover{
   border-radius: 0 50%;
    border-bottom-color: #28972c;
}

.atikur h2{
    padding: 25px 0  10px 0 !important;
    color: white;
    text-transform: uppercase;
    
}
.atikur h2:hover{
    color:cyan;
}


.atikur h4{
    padding:5px 0  10px 0 !important;
    color: white;
    font-size: 15px;
    color:#2abb2e;
    
}
.atikur h4:hover{
    color:rgb(7, 197, 255);
}

.atikur p{
    padding:15px 0  10px 0 !important;
    color: white;
    
}

.social-media i{
    font-size: 0.8em;
    background:blueviolet;
    padding: 10px !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #fff;
     margin: 3px auto !important;
    
    transition: all ease 0.3s;

    margin: 1rem .3rem 3rem .3rem  !important;

}

.social-media i:hover{
    background: #4c66a4;
    color: #fff;    

    transform:rotate(360deg);
}


/* ...........our-tem  section End  ............. */
/* ####################################################### */
/* ####################################################### */
/* .........../ clients section start   ............. */

.client-div{
    background-color:#dfe6e6;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.clitent-header h1{
   margin-top: 30px; 
   color: #c51414;
    font-size: 42px;
    font-weight: 700;
    font-family: math;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.clitent-header p{
  color: #000;
  text-align: center;
  padding-bottom: 35px;
}



.swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 420px;
    background-color: aquamarine;
   
  }
  
  .swiper-slide .imgbox{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .swiper-slide .imgbox img{
    position: center center;
    width: 100%;
    height: 280px;
    cursor: pointer;
  }
  
  
  .swiper-slide .img_name-or-header-name{
    box-sizing: border-box;
    font-size: 20px;
    padding: 0px;  
  }
  
  .swiper-slide .img_name-or-header-name h1{
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;  
    text-align: center;
    text-transform: uppercase;
  }
  
  .swiper-slide .img_name-or-header-name p{
     padding: 0;
     margin: 0;
     text-align: center;
     color: blueviolet;
  }
/* .........../ client section End   ............. */
/* ####################################################### */



/*   start  counter sectiom start */
/**********************************************************/
#counter_div{
  background-color: black;
  width: 100%;
  clear: both;
}

.icon {
  color: #01edf9;
  font-size: 45px;

}

.mu-single-counter h2{
    color: white;
    font-weight: 600;
    font-family: 'Font Awesome 5 Brands';
}

.counter-name{
    color: #03fbc2;
    font-family: cursive;
    font-weight: 500;
    font-size: x-large;
}

/*   Counter section end  */
/**********************************************************/

/* .......... Contact  section Start  ............. */
/* ####################################################### */
#contact{
  width: 100%;
  clear: both;
background-image: linear-gradient(to right top, #aa216f, #a52b85, #9a379b, #8945b0, #6e52c3, #5967d5, #3d79e3, #008bee, #00a6f6, #00bef3, #00d3e8, #4be5db);
}

.header_contact h1{
   margin: 10px 0px 30px 0px;
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
    font-family: emoji;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

}

.my_btn{
   .color: #fff;
    background-color: #000000;
    border-color: #000000;
    padding: 10px;
    font-weight: 800;
    font-size: 18px;
    border:none;

}
   
    
/* ..........Contact  section End  ............. */
/* ####################################################### */

/* ..........footer  section Start  ............. */
/* ####################################################### */

#footer{
        background-color: black;
        width: 100%;
        clear: both;
}

#footer h5{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-family: auto;
    padding-bottom: 20px;
}

.foter_header p{
    color: #bfaeae;
    text-transform: capitalize;
}

    
/* ..........footer  section End  ............. */
/* ####################################################### */



@media (min-width: 476px) and (max-width: 767.98px) {
  #navbarbackground{
 min-height: 550px;
 max-height: 550px;
 background-image: url(background_img/atiqur.png);
 
/* background-color: black;
*/
background-repeat: no-repeat;
background-size: cover;
background-position: center center;


}

.header_second_part{
       position: absolute;
       margin-top: 220px !important;
   }


}

