*{
    padding: 0px;
    margin: 0px;
    
}


.row {
    padding: 0px;
    margin: 0px;
}

.body{

    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
}
  


/* ........... navbar section start ............. */
#navbarbackground{
 width: 100%;
 clear: both;
 min-height: 450px;
 max-height: 450px;
 background-image: url(background_img/background_01.jpg);
 background-repeat: no-repeat;
 background-size: cover;
background-position:  center center;


}

.navbar{
    background-color: rgb(23, 106, 139) !important;
}

 li a{ 
    color:white !important;
    display:block;
    padding:20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px !important;
}

 li a.active,
 li a:hover{    
    color: #00ffe7 !important;
    background-color: #07515a;
}

.button-class{ 
   text-align: center;
   width: auto;
    height: auto;
    margin: 0 auto;
   text-transform: uppercase;
   height: 3rem;
   width: 16rem;
   letter-spacing: .2rem;
   border-bottom: 5px solid #c86a43;
   background: #eb7d4d;
   color: #fff;
 
}

.button-class:hover{ 
    background-color: rgb(0, 255, 106);
  
}

.text-nav{
    text-align: justify;
    position: absolute;
    margin-top: 150px !important;
    font-size: 3.8rem;
    font-weight: 700;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem#0070ff;
   
}
/* ........... navbar section End  ............. */
/* ############################################ */

/* ........... About Me section start  ............. */
#about_me{
  width: 100%;
  clear: both;
}
.about_title{
    color: #6b5e5e;
    font-size: 25px;
    font-weight: 300;
    font-family: cursive;
}
.heading-section h2{
    color: #0da566;
    font-weight: 600;
    font-family: none;
    margin: 10px 0px;
    letter-spacing: 0.1rem;
}

.heading-section p{
   color: #5a6f79;
    text-align: justify;
   
}

.a-l-n{
    color: #ad9d9d;
    font-family: cursive;
    font-weight: 600;
    font-size: 18px;

}

.a-f-n{
   margin-right: 80px;
   color: #000000;
    font-family: serif;
    font-weight: 600;
    font-size: 19px;
   
}


.my-habit i{
  color: #29a6ff;
  font-size: 32px;
}

.my-habit h2{
    color: #000000;
    font-size: 18px;
    font-family: system-ui;
    font-weight: 800;
}




/* ........... About Me section End  ............. */
/* ############################################ */

/* ........... card section start .................*/

.card-div-section{
    background-color:#ffffff;
    width: 100%;
    clear: both;
}

.card{

    clear: both;
    background-color: black;
    border-radius: none;
    border:none !important;
  
}
   

.card:hover{
 box-shadow: 0 0 5px rgba(0,0,0,0.8) inset, 0 0 10px rgba(0,0,0,0.8);
  
background-color: black;

 }


.card-title{
    color: #28a9e2;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.card-contant ul{
    list-style: none;
/    
}

.card-contant ul li{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
 /* margin-left: 25px; */
}

.card_btn{
   text-align: center;
  
}


.card_btn a{
    text-decoration: none;
    font-size: 14px;
 }
 

.section-title .p{
    color: red;

}
/* ################################################# */
/* ...........SERVICES WE PROVIDE section start ............. */
   .services{   
    background-color: #06b6f9;
    clear: both;
}

.sre-pic h2{
   margin: 4rem 0rem 2rem 0rem !important;
   font-size: 28px;
}

.sre-pic h2:hover{
    color: #fff;
    
 }
 

.sre-pic img:hover{
    
    transform:rotate(45deg);
}




/* ...........SERVICES WE PROVIDE section End ............. */
/* ###################################################### */
/* ...........our-tem section start ............ */
.our-tem{
   
  background-color: #000000;
  clear: both;
 
}

.atikur img{
    width: 240px;
    height: 240px;
    border-radius: 50% 50% 0 50%;
    border-bottom: 5px solid #28a9e2;
    transition:0.7s;
     
}

.atikur img:hover{
   border-radius: 0 50%;
    border-bottom-color: #28972c;
}

.atikur h2{
    padding: 25px 0  10px 0 !important;
    color: white;
    text-transform: uppercase;
    
}
.atikur h2:hover{
    color:cyan;
}


.atikur h4{
    padding:5px 0  10px 0 !important;
    color: white;
    font-size: 15px;
    color:#2abb2e;
    
}
.atikur h4:hover{
    color:rgb(7, 197, 255);
}

.atikur p{
    padding:15px 0  10px 0 !important;
    color: white;
    
}

.social-media i{
    font-size: 0.8em;
    background: #2f9e07;
    padding: 10px !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #fff;
     margin: 3px auto !important;
    
    transition: all ease 0.3s;

    margin: 1rem .3rem 3rem .3rem  !important;

}

.social-media i:hover{
    background: #4c66a4;
    color: #fff;    

    transform:rotate(360deg);
}


/* ...........our-tem  section End  ............. */
/* ####################################################### */


/* ..........footer  section Start  ............. */
/* ####################################################### */

#footer{
        background-color: black;

}
    
/* ..........footer  section End  ............. */
/* ####################################################### */

/*   start  counter sectiom start */
/**********************************************************/
#counter_div{
  background-color: black;
  width: 100%;
  clear: both;
}

.icon {
  color: #01edf9;
  font-size: 45px;

}

.mu-single-counter h2{
    color: white;
    font-weight: 600;
    font-family: 'Font Awesome 5 Brands';
}

.counter-name{
    color: #03fbc2;
    font-family: cursive;
    font-weight: 500;
    font-size: x-large;
}

/*   Counter section end  */
/**********************************************************/

/* ####################################################### */
/* .........../ clients section start   ............. */

.client-div{
    background-color:#dfe6e6;
    width: 100%;
    clear: both;
    overflow: hidden;
}


.swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 420px;
    background-color: aquamarine;
   
  }
  
  .swiper-slide .imgbox{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .swiper-slide .imgbox img{
    position: center center;
    width: 100%;
    height: 280px;
    cursor: pointer;
  }
  
  
  .swiper-slide .img_name-or-header-name{
    box-sizing: border-box;
    font-size: 20px;
    padding: 0px;  
  }
  
  .swiper-slide .img_name-or-header-name h1{
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;  
    text-align: center;
    text-transform: uppercase;
  }
  
  .swiper-slide .img_name-or-header-name p{
     padding: 0;
     margin: 0;
     text-align: center;
     color: blueviolet;
  }




/* .........../ client section End   ............. */
/* ####################################################### */



